<% provide(:title, "Personal List Index") %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @lists.any? %>
      <h3>Lists (<%= @lists.count %>)</h3>
      <ol class="line-item">
        <% @lists.each do |list| %>
          <span class="user"><li><%= link_to list.name, list_show_url(user_id: @user.id, id: list.id) %></li></span>
          <% if @user==current_user %>
            <span class="user"><%= link_to "Delete this list",
            list_destroy_url(user_id: current_user.id, list_id: list.id),
                             class: "btn btn-warning btn-sm",
                             method: :delete, data: { confirm: "You sure?" }  %></span>
          <% end %>
        <% end %>
      </ol>
    <% else %>
      <h4>No Lists Created Yet!</h4><br />
    <% end %>
    <%= link_to "Create a List!", list_new_url(@user.id), class: "btn btn-primary btn-lg" %>
  </div>
</div>
