<% provide(:title, @list.name) %>
<div class="row">
  <%= render partial: "shared/sidebar" %>
  <div class="col-md-8">
    <% if @listusers.any? %>
      <h3><%= @list.name %> (<%= pluralize(@listusers.count, "other user") %>  selected)</h3>
      <ol class="line-item">
        <% @listusers.each do |listuser| %>
        <li id="micropost-<%= listuser.id %>">
          <%= link_to gravatar_for(listuser.selected_user, size: 50), user_url(listuser.selected_user) %>
          <span class="user"><%= link_to listuser.selected_user.name, user_url(listuser.selected_user) %></span>
          <% if @user==current_user %>
            <span class="timestamp">
              <%= link_to "Remove from this List", listuser_delete_url(listuser_id: listuser.id),
              class: "btn btn-warning btn-sm",
                method: :delete, data: { confirm: "You sure?" } %>
              </span>
          <% else %>
          <span class="timestamp">
              <%= link_to "", "#",
                           class: "btn btn-warning-outline btn-sm"%>
          </span>
          <% end %>
        </li>
        <% end %>
      </ol>
      <%= will_paginate @listusers %>
    <% else %>
      <h4>No users listed yet! </h4>
      <h4>Why not list some users?</h4>
      <h4>Make some friends?</h4>
      <h3>Get a Life!</h3>
    <% end %>
  </div>
</div>
