<% provide(:title, "Send a Direct Message") %>
<div class="row">
<%= render partial: "shared/sidebar" %>
  <div class="col-md-8">
    <%= form_for @directmessage, url: message_create_path do |f| %>
    <%= hidden_field(:directmessage, :sender_id, value: @directmessage.sender_id) %>
    <%= hidden_field(:directmessage, :receiver_id, value: @directmessage.receiver_id) %>
    <h3>Send Message to <%= @user.name %></h3><br /><br  />
      <%= f.label :content, "Message text" %>
      <%= f.text_field :content, class: "form-control" %><br />
      <div class="col-md-3">
        <%= f.submit "Send Message", class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>
